{% extends 'layout.html' %}
{% block body %}
<!DOCTYPE html>
<style>
	table, th, td {
  border: 1px solid black;
}
table {
    counter-reset: tableCount;
    width: 50%;
    text-align: center;
    margin-left: auto;
  	margin-right: auto;

}
.counterCell:before {              
    content: counter(tableCount); 
    counter-increment: tableCount; 
}

button {
	width: 150px;
	text-align: center;
}

</style>


<html>
<h1 style="text-align: center;">Edit Existing Quizzes</h1>
<div style="padding-top: 75px;" ></div>
<table>
	<tr>
		<th>Quiz Number</th>
		<th>Quiz Name</th>
	</tr>
	
{% for item in range(names|length) %}

			<tr style="border: 1px black;">
				<td class="counterCell"></td>
				<td><button onclick="location.href='{{ url_for('edit_quiz', UID=UID, qname=URL[item]) }}'">{{names[item]}}</button></td>
			</tr>
			
		

{% endfor %}
</table>


{% endblock %}